.submit{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: white;
    border-radius: 0 36px 36px 0;
}
.input{
    width:100%;
    height:36px;
    border-radius: 8px;
    border:1px solid #d3b4ed;
    background-color: #f9f1fe;
    color: #525252;
    padding-left: 10px;
    font-size: 0.9rem;
    
}
.input:focus{
    outline: none;
}
.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:70%;
    margin-top: 20px;
}
.part label{
    margin-left: 30px;
    margin-bottom: 3px;
}
.statute{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.checkbox{
    visibility: hidden;
    position: relative;
    margin-left: 6px;
    width: 22px;
    height: 22px;
}
.checkbox::before{
    visibility:visible;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border:1px solid black;
    border-radius: 6px;
    transition-duration: 0.2s;
}
.checkbox:hover::before{
    background-color: #d3b4ed;
    cursor: pointer;
}
.checkbox:checked:before{
    text-align: center;
    font-weight: 900;
    font-size: 16px;
    content:"\2713";
    color: white;
    background-color: #793aaf;
    border:1px solid #793aaf;
}
.button{
    background-color: #793aaf;
    color:white;
    border-radius: 8px;
    padding: 8px 45px;
    border:none;
    margin:40px 0 0 0;
    width: 50%;
    font-size: 1.1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition-duration: 0.2s;
}
.button:hover{
    background-color: #d3b4ed;
    color:#525252;
    cursor: pointer;
}
.forgetPass{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    width:96%;
    color: #525252;
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 16px;
    transition-duration: 0.2s;
    text-decoration: none;
}
.forgetPass:hover{
    color: #793aaf;
    cursor: pointer;
    font-weight: 900;
}
.buttonDisable{
    background-color: #793aaf55;
    color:white;
    border-radius: 8px;
    padding: 8px 45px;
    border:none;
    margin:40px 0 0 0;
    width: 50%;
    font-size: 1.1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition-duration: 0.2s;
}
.invalid, .valid{
    margin-left: 10px;
    font-style: italic;
    text-align: left;
}
.valid{
    color: #793aaf;;
}
.invalid{
    color: #d9534f;
}
@media (width<1000px){
    .part{
        width:90%;
    }
    .part label{
        margin-left: 20px;
    }
    .submit{
        border-radius: 36px;
    }
    .google{
        margin-top: 20px;
    }
}