.containerScrollXNextName{
    width: 300%;
    margin-left: -300px;
    animation-duration: 0.5s;
    animation-name: toLeft;
    animation-fill-mode: forwards;  
}
.containerScrollXBackName{
    width: 300%;
    margin-left: -300px;
    animation-duration: 0.5s;
    animation-name: toRight;
    animation-fill-mode: forwards;  
}
.containerScrollXNoName{
    width: 300%;
    margin-left: -300px;
}
@keyframes toLeft{
    0%{
        margin-left: -300px;
    }
    100%{
        margin-left: -600px;
    }
}
@keyframes toRight{
    0%{
        margin-left: -300;
    }
    100%{
        margin-left: 0px;
    }
}
.centerList{
    width: 33.3%;
    margin-top: 20px;
    height: 136px;
    display: inline-block;
    flex-direction: row;
}
.deckContainer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.button{
    border-radius: 6px;
    padding: 0 0;
    width: 30%;
    height: 36px;
    font-size: 1.2rem;
    font-weight: 700;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008fff;
    border: none;
    transition-duration: 0.2s;
}
.button:hover{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}