.newDeck{
    background-color: white;
    border:1px solid #a6a6a6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:270px;
    height:110px;
    border-radius: 12px;
    margin:0 0 20px 14px;
    transition-duration: 0.2s;
}
.newDeck:hover{
    cursor: pointer;
    background-color: #a6a6a6;
}
.newDeck:hover>.newDeckText{
    color: white;
}

.newDeckCircleAdd{
    width: 50px;
    height: 50px;
    border-radius: 360px;
    background-color: #a6a6a6;
}
.newDeckPlus{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}
.newDeckText{
    padding-top: 10px;
    color: #0b57d3;
}
