.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    z-index: 1;
}
.main:hover{
    cursor: pointer;
}
.main:hover .top{
    box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px, rgba(0, 0, 0, 0.7) 0px 6px 6px;
}
.card2{
    width: 99%;
    height:10px;
    border-radius: 8px 8px 0 0;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    top:-6px;
    z-index: -2;
}
.card2::before{
    width: 100%;
    height:10px;
    border-radius: 8px 8px 0 0;
    position: absolute;
    content: "";
    left:0;
    top:0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
}
.card3{
    width: 97%;
    height:10px;
    border-radius: 8px 8px 0 0;
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
    top:-12px;
    z-index: -4;
}
.card3::before{
    width: 100%;
    height:10px;
    border-radius: 8px 8px 0 0;
    position: absolute;
    content: "";
    left:0;
    top:0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.6);
}
.top{
    position: relative;
    width: 90%;
    padding: 8px 8px 18px 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; 
    border-radius: 8px 8px 0 0;
    transition-duration: 0.2s;
}
.title{
    color:white;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: 4px;
    width: 70%;
}
.allElement{
    width: 20%;
    border-radius: 6px;
    padding: 2px;
    margin:2px;
    display: flex;
    font-weight: 300;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white; 
}
.bottom{
    padding:10px 0 4px 0;
    background-color: #eee;
    border-radius: 0 0 8px 8px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    transition-duration: 0.2s;
}
.wordStudyElement{
    border-radius: 6px;
    padding: 2px 8px;
    margin:2px;
    display: flex;
    font-weight: 400;
    font-size: 0.8rem;
    color: white;
    justify-content: center;
    align-items: center;
    height: 70%; 
    width:60%;
}
.toStudy{
    font-size: 1.8rem;
    font-weight: 400;
    color: #151515;
    margin-right: 20px;
}