.main{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    background: linear-gradient(217deg, #fff, rgba(0,0,0,0) 90.71%),
                linear-gradient(45deg, #dde5f1, rgba(0,0,0,0) 80.71%),
                linear-gradient(270deg, #e8cfe8, rgba(0,0,0,0) 80.71%);
    width:100vw;
    height:calc(100vh);
}
.container{
    width: 70vw;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 36px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 80px 40px -7px, rgba(0, 0, 0, 0.56) 0px 42px 70px 4px;
}
.left{
    overflow: hidden;
    width:50%;
    height:100%;
}
.right{
    width:50%;
    border-radius: 16px;   
}

@media(width<1000px){
    .main{
        padding:10px 0;
        justify-content: center;
    }
    .container{
        width: 96vw;
        height: 90vh;
    }
    .right{
        width:100%;   
    }
}
@media(height<650px){
    .main{
        height:auto;
    }
    .container{
        height: auto;
    }
}