.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 20px 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 80px 40px -7px, rgba(0, 0, 0, 0.56) 0px 42px 70px 4px;
    border-radius: 26px;
    background-color: white;
}
.input{
    width:100%;
    height:36px;
    border-radius: 8px;
    border:1px solid #d3b4ed;
    background-color: #f9f1fe;
    color: #525252;
    padding-left: 10px;
    font-size: 0.9rem;
    
}
.input:focus{
    outline: none;
}
.part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width:70%;
    margin-top: 20px;
}
.part label{
    margin-left: 30px;
    margin-bottom: 3px;
}
.forgetPass{
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: center;
    width:96%;
    color: #525252;
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 16px;
    transition-duration: 0.2s;
    text-decoration: none;
}
.forgetPass:hover{
    color: #793aaf;;
    cursor: pointer;
    font-weight: 900;
}
.button{
    background-color: #793aaf;
    color:white;
    border-radius: 8px;
    padding: 8px 45px;
    border:none;
    margin:40px 0 0 0;
    width: 50%;
    font-size: 1.1rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition-duration: 0.2s;
}
.button:hover{
    background-color: #d3b4ed;
    color:#525252;
    cursor: pointer;
}
.google{
    margin-top:30px;
}
.hello{
    margin-top: 36px;
    color: #525252;
    font-style: italic;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
@media(width<1100px){
    .main{
        padding: 10px 0;
        height:90vh;
    }
    .part{
        width:90%;
        margin-top: 20px;
    }
    .button{
        width: 80%;
    }
}
@media(height<500px){
    .main{
        height:auto;
    }
}
