@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(217deg, #fff, rgba(0,0,0,0) 90.71%),
                linear-gradient(45deg, #dde5f1, rgba(0,0,0,0) 80.71%),
                linear-gradient(270deg, #e8cfe8, rgba(0,0,0,0) 80.71%);
    width:100vw;
    height:calc(100vh);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.initiallyText{
    font-size: 3rem;
    letter-spacing:2.4px;
    line-height: 1.1;
    width:60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.initiallyTextSpans{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 65%;
}
.UczsieWord{
    color:#717171;
    margin-left: 30px;
}
.AnkiWord{
    --bg-size: 400%;
    --color-one: #b589D6;
    --color-two: #6a359c;
    font-family: sans-serif;
    font-size: clamp(3rem, 25vmin, 8rem);
    background: linear-gradient(90deg,var(--color-one),var(--color-two),var(--color-one))0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
    animation: move-bg 40s linear infinite;
  }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }

.rowAtuts{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 40vw;
}
.description{
    margin-top: 60px;
    width:40vw;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 40px;
    color: #646464;
}
.buttonsContainer{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.button:nth-child(2){
    margin-bottom: 10px;
    font-size: 1rem;
    background-color: white;
    color:#434343;
    padding: 6px 37px;
    border-radius: 4px;
    border:none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition-duration: 0.2s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-decoration: none;
}
.button:nth-child(2):hover{
    background-color: #ddd;
    cursor: pointer;
}
.button:nth-child(1){
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 1rem;
    background-color: #793aaf;
    color:white;
    padding: 6px 37px;
    border-radius: 4px;
    border:none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition-duration: 0.2s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    text-decoration: none;
}
.button:nth-child(1):hover{
    background-color: #ab6ddf;
    cursor: pointer;
}
.googleIcon{
    margin-left: 100px;
}
.white{
    width:70vw;
    height: 200px;
    background-color: white;
}
.gray{
    background-color: #343434;
    width:70vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 8px 8px 0 0;
}
@media(width<1100px){
    .initiallyText{
        font-size: 1.2rem;
        width:96vw;
    }
    .initiallyTextSpans{
        width: 90%;
    }
    .row{
        flex-direction: column;
    }
    .UczsieWord{
        color:#717171;
        margin-left: 0px;
    }
    .AnkiWord{
        --bg-size: 400%;
        --color-one: #b589D6;
        --color-two: #6a359c;
        font-family: sans-serif;
        font-size: clamp(2rem, 25vmin, 3rem);
        background: linear-gradient(90deg,var(--color-one),var(--color-two),var(--color-one))0 0 / var(--bg-size) 100%;
        color: transparent;
        background-clip: text;
        animation: move-bg 40s linear infinite;
      }
        @keyframes move-bg {
          to {
            background-position: var(--bg-size) 0;
          }
        }
    
    .rowAtuts{
        flex-direction: column;
        width: 90vw;
    }
    .description{
        margin-top: 40px;
        width:92vw;
    }
    .buttonsContainer{
        width: 90vw;
    }
    .button:nth-child(2){

        padding: 6px 26px;
    }
    .button:nth-child(1){

        padding: 6px 26px;

    }
    .googleIcon{
        margin-left: 0px;
    }
    .white{
        width:96vw;
    }
    .gray{
        width:96vw;
        justify-content: center;
        align-items: center;
    }
}
@media(height<500px){
    .main{
        height:auto;
    }
}

